<div class="flex w-full md:w-1/2 mx-auto px-8 text-lg"> 
  <%= image_tag 'keirou_obaachan_smile2.png', class: "w-1/3 object-contain" %>
  <div class="w-2/3 space-y-4">
    <p>そろばん婆が出してくる読み上げ算をクリアして免許皆伝を目指そう！</p>
    <p>スタートすると、数字が順番に10個表示されるので、その合計を解答欄に記入して回答ボタンを押してね</p>
    <p>正解で次の問題、不正解だとその時点で終了</p>
    <%= link_to 'スタート', caluculation_path, class: "btn btn-primary" %>
  </div>
</div>